@import "tailwindcss";

body {
  background: #0a0a0a;
  color: #ededed;
}

hero-font {
  font-family: Avantgarde, sans-serif;
}

text-accent {
  line-height: 96px;
}

.blurred-eclipse {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the eclipse */
  width: 500px; /* Adjust size */
  height: 300px; /* Adjust size for eclipse shape */
  border-radius: 50%; /* Makes it an ellipse */
  background-color: rgba(100, 100, 255, 0.5); /* Example color with transparency */
  filter: blur(125px); /* Adjust blur intensity */
  /* z-index: -1; /* Place it behind other content */
}